# SERVER
NODE_ENV=development
TZ=Asia/Jakarta

# CLIENT
NEXT_PUBLIC_NODE_ENV=development

NEXT_PUBLIC_API_URL=https://dev.api.example.com # Jangan diakhiri dengan /
NEXT_PUBLIC_GOOGLE_CLIENT_ID=382911816912-b88e6jfoes702akhXXXXXXXXXX.apps.googleusercontent.com
